@import "../../project-style-globals.scss";

$card-width: 350px;

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 570px;
    height: fit-content;
    width: $card-width;
    padding: 5px 2px;
    margin: 5px 30px 30px 30px;
    user-select: none;

    &.MuiPaper-root {
        background-color: var(--theme-primary-color);
    }

    &__wrapper_normal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.image-preview {
    position: relative;
    height: 250px;
    width: $card-width - 5px;
    background-size: cover;
    border-radius: 3px;
}

.product-disclaimer {
    position: absolute;
    width: inherit;
    height: 50px;
    text-align: center;
    display: table-cell;
    line-height: 50px;
    font-size: 32px;
    font-weight: 600;
    top: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &_last-product {
        background-color: rgba(255, 0, 0, 0.5);
        color: gold;
    }

    &_last-product_out-of-stock {
        background-color: $standard-color;
        color: white;
    }
}

.price-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: inherit;
    height: 25px;
    color: red;
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    font-weight: 600;
    bottom: 5px;
    margin: 0px 10px 0px 0px;

    &__product-price {
        color: white;
        height: inherit;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0px 10px;
    }

    &__old-price {
        position: relative;
        font-size: 26px;
        padding: 0px 10px;
    }

    &__line-through {
        position: absolute;
        transform: rotate(30deg);
        top: 11px;
        left: 0px;
        width: 100%;
        height: 4px;
        background-color: rgba(255, 0, 0, 0.801);
    }

    &__sale-announce {
        color: gold;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0px 10px;
        font-size: 26px;
    }
}

.product-information {
    margin-top: 10px;
    border-top: 1px solid $standard-color;
    width: 345px;
    padding: 5px;

    &__rating-wrapper {
        width: 60%;
        margin: 0px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

.data-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px 0px 20px;
    text-align: left;
    color: var(--theme-secondary-color);

    &__title {
        width: 40%;

        &__title_footer {
            width: 30%;
        }
    }

    &__value {
        word-wrap: break-word;
    }

    &_footer {
        width: $card-width - 30px;
        font-style: italic;
        margin: 0px auto;
    }
}

.border-card_cheap {
    border: 6px solid $product-cheap;
}

.border-card_optimal {
    border: 6px solid $product-optimal;
}

.border-card_premium {
    border: 6px solid $product-premium;
}

.border-card_out-of-stock {
    border: 6px solid transparent;
}

.button-description-toggle__wrapper {
    margin: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product-card-action-footer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.product-card-action-wrapper {
    margin: 0px 0px 5px 0px;
    padding: 0px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid $standard-color;
}

.product-card__product-page-link {
    text-decoration: none;
    outline: none;
    color: black;
}

.product-card-slider {
    width: fit-content;
    padding: 10px;
    border: 1px solid $standard-color;
    margin: 4px 4px 8px 4px;
}

.slider-image-preview {
    position: relative;
    height: 18vw;
    width: 23vw;
    background-size: cover;
    border-radius: 3px;
}

.product-disclaimer_name-product {
    background-color: $standard-color;
    color: white;
}

.product-disclaimer_last-product-slider {
    top: calc(50% - 25px);
}

.product-disclaimer_name-product-slider {
    font-size: 1.8vw;
}

.product-card__action-buttons-container {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.product-card-action-buttons-container__button-wrapper {
    border: 1px solid $standard-color;
    border-radius: 30px;
}

.border-card_cheap-slider {
    border: 6px solid $product-cheap;
}

.border-card_optimal-slider {
    border: 6px solid $product-optimal;
}

.border-card_premium-slider {
    border: 6px solid $product-premium;
}
